@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800');

body{
    background: #9bcc4f;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    height: 100vh;
}

.container-height{
    height: 100%;
}

.row{
    height: 100%;
}

.name-container{
    margin-top:0;
    margin-bottom: 0;
    left: 0;
    right:auto;
}

.size-container{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 60px;
    padding-top: 50px;
}

.btn-arrow img{
    width: 20px;
    height: auto;
}

#pkm-number{
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#pkm-name{
    color: #ffffff;
    font-family:  'Nunito', sans-serif;
    font-size: 35px;
    font-weight: 800;
}

.size-container span{
    color: #ffffff;
    font-family:  'Nunito', sans-serif;
    font-size: 17px;
    font-weight: 600;
}

#pkm-height{
    color: #ffffff;
    font-family:  'Nunito', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

#pkm-weight{
    color: #ffffff;
    font-family:  'Nunito', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.size-container>span{
    display: block;
}

#pokemon-image{
    max-width: 400px;
    height: 100%;
}

.pkm-img-position{
    justify-content: center;
    flex-direction: column;
}

.pkm-img-container{
    position: relative;
}

#japanese-name{
    display: block;
    position: absolute;
    bottom: auto;
    top: 5px;
    right: auto;
    left: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 130px;
    font-weight: 600;
    word-break: keep-all;
    word-wrap: normal;
    transform: translateX(-45%);
    opacity: .5;
    color: rgba(0, 0, 0, 0.67);
}

.container-stats ul {
    list-style: none;
    margin: 0;
    position: relative;
    padding-left: 25px;
}

li.item-stats .item-stats-pill {
    background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 0;
    margin-bottom: 14px;
    margin-right: 10px;
    color: rgba(0,0,0,.65);
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 8px;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    box-shadow: 0 20px 25px -10px rgba(0,0,0,.15)
}

li.item-stats{
    display: inline-block;
}

.container-stats ul::before {
    content: '';
    display: block;
    width: 4px;
    top: 0;
    right: auto;
    bottom: 10px;
    left: 0;
    background: rgba(255,255,255,.35);
    position: absolute;
    border-radius: 2px;
}

h3{
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
    text-shadow: 0 15px 30px rgba(0,0,0,.15)
}

.container-type img{
    width: 64px;
    height: 64px;
    padding: 10px;
    background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
    border-radius: 50%;
    box-shadow: 0 20px 25px -10px rgba(0,0,0,.15);
    margin: 0 15px 15px 0;
}